<h1>Welcome!</h1>

<div>
    <h2>Start New Game</h2>
    <form  *ngIf="lessThanFourPlayersSignedUp()" >
        <input
            type="text" required  [name]="getPlayerPlaceholder()"
            [placeholder]="getPlayerPlaceholder()"
            [(ngModel)]="newPlayerName">
        <input type="submit" value="Add Player" (click)="addPlayerName()">
    </form>

    <button *ngIf="atLeastOnePlayerSignedUp()"  id="begin-button">Begin</button>
</div>

<div *ngIf="lessThanFourPlayersSignedUp()">
    <h2>Or, Resume a Game</h2>
    <form>
        <label>Choose Game </label>
        <select  required  name="choose-game" [(ngModel)]='chosenGame'>
            <option *ngFor="let gameID of gameIDs" name="choose-game-option"
                    [value]="gameID" >
                {{gameID}}
            </option>
        </select>
        <button>Resume</button>
    </form>
</div>

<div>

</div>
