<h1>Welcome!</h1>
<h2>Start New Game</h2>
<form>
    <input type="text" [name]="getPlayerPlaceholder()"
           [placeholder]="getPlayerPlaceholder()">
    <button>Add Player</button>
</form>

<h2>Or, Resume a Game</h2>
<div>
    <form>
        <label>Choose Game </label>
        <select  required  name="choose-game" (change)="setGame()"
                [(ngModel)]='chosenGame'>
            <option *ngFor="let gameID of gameIDs" name="choose-game-option"
                    [value]="gameID" >
                {{gameID}}
            </option>
        </select>
        <button>Resume</button>
    </form>
</div>
