<div *ngFor="let label of courseService.teeService.descriptiveData"
     class="cell label-cell yards-row" id="tee-name-options-cell">

    <div  *ngIf="label === 'yards'">
        <select  id="tee-name-options"
                 [(ngModel)]="courseService.teeService.selectedTeeName"
                 (change)="courseService.teeService.set_descriptiveData_and_totals()"
                 name="select-tee">
            <option *ngFor="let teeName of courseService.teeService.teeNames"
                    [value]="teeName" name="tee-option">
                {{teeName}}
            </option>
        </select>
    </div>

</div>


<div class="cell label-cell par-row" id="par-column-1">Par</div>
<div class="cell label-cell hcp-row" id="hcp-column-1">Handicap</div>
