<!------   player name inputs     ---------->

<!------   player name inputs
<div *ngFor="let playerNumber of playerNumbers; let i = index"
     [class]="'column-cell label-cell player-name-input-cell ' + playerNumber + '-row'"
     [id]="playerNumber + '-input-cell'">
    <input type="text"
      class="scorecard-input player-name-input"
           [placeholder]="playerNumber + ' name'"
           [(ngModel)]="players[i].name">
</div>
 ---------->

<div *ngFor="let playerName of playerNames; let i = index"
     [class]="'column-cell label-cell player-name-input-cell ' + playerNumbers[i]  + '-row'"
     [id]="'player' + (i+1)  + '-input-cell'">

    <div class="column-cell hcp-row" id="hcp-cell-out">
        {{playerName}}
    </div>
</div>

<div
    *ngFor="let playerStillAvailable of playersStillAvailable; let i = index"
     [class]="'column-cell label-cell player-name-input-cell ' + playerStillAvailable + '-row'"
     [id]="playerStillAvailable  + '-input-cell'">
    <input type="text"
       class="scorecard-input player-name-input"
       [placeholder]="playerStillAvailable + ' name'"
       [(ngModel)]="playersAddedLate[i]"  (blur)="savePlayerToGame()">
</div>
