
<div *ngFor="let playerName of players.names; let i = index"
     [class]="'cell label-cell player-name-input-cell ' + players.numbers[i]  + '-row'"
     [id]="players.numbers[i]  + '-input-cell'">

    <div class="cell">
        {{playerName}}
    </div>
</div>

<div
    *ngFor="let playerStillAvailable of players.playersStillAvailable; let i = index"
     [class]="'cell label-cell player-name-input-cell ' + playerStillAvailable + '-row'"
     [id]="playerStillAvailable  + '-input-cell'">
    <input type="text"
           class="scorecard-input player-name-input"
           [placeholder]="playerStillAvailable + ' name'"
           [(ngModel)]="playersAddedLate[i]" (blur)="savePlayerToGame(i)">
</div>
