<div *ngFor="let columnID of columnIDs"
     class="card-column"  [class.total-column]="isTotalColumn(columnID)"
     [id]="getColumnIDForHTML(columnID)">

    <div class="column-cell hole-row"
         [id]="'hole-cell-' + columnID" >
        {{columnID | uppercase}}
    </div>

    <div *ngFor="let fetchedDataRow of fetchedDataRows"
         [class]="'column-cell ' + fetchedDataRow + '-row'"
         [id]="fetchedDataRow + '-cell-' + columnID" >
    </div>


    <div *ngFor="let player of players; let i=index"
         [class]="'column-cell  strokes-input-cell ' + 'player' + (i+1) + '-row'"
         [class.bottom-row]="isLastPlayer()"
         [id]="getPlayerCellID('player' + (i+1))">
        <input type="text" class="strokes-input" [(ngModel)]="player.strokes[i]">
    </div>

</div>

