<!--  This div represents a single column     -->
<div *ngFor="let columnID of columnIDs; let i = index"
     class="card-column"  [class.total-column]="isTotalColumn(columnID)"
     [id]="getColumnIDForHTML(columnID)">

    <div class="cell hole-row"
         [id]="'hole-cell-' + columnID" >
        {{columnID | uppercase}}
    </div>

    <div *ngFor="let descriptiveRow of descriptiveRows"
         [class]="'cell ' + descriptiveRow + '-row'"
         [id]="descriptiveRow + '-cell-' + columnID" >
        {{figureOutWhatDataToShow(columnID, descriptiveRow)}}
    </div>


    <div *ngFor="let player of players; let i=index"
         [class]="'cell  strokes-input-cell ' + 'player' + (i+1) + '-row'"
         [class.bottom-row]="isLastPlayer(i)"
         [id]="getPlayerCellID('player' + (i+1))">
        <input *ngIf="isNumberedColumn(columnID)" type="text"
               class="scorecard-input  strokes-input"
               [(ngModel)]="player.strokes[(columnID) - 1]"
               (change)="validateAndUpdateRowTotals(i, columnID - 1)">
    </div>

</div>

