<div id="top-container">

    <div class="form-container">
        <form>
            <div class="form-control">
                <label>Choose a course</label>
                <select id="course-name-options" name="course-name"
                        (change)="updateTeesAndCells()">
                </select>
            </div>


        </form>
    </div>

    <div id="card-container">

        <div class="card-column first-column" id="label-column">
            <div class="column-cell label-cell hole-row" id="hole-cell">Hole</div>
            <div class="column-cell label-cell yards-row" id="tee-name-options-cell">
                <label id="tee-name-options-label">Tee</label>
                <select id="tee-name-options" (change)="updateCells()"></select>
            </div>
            <div class="column-cell label-cell par-row" id="par-column-1">Par</div>
            <div class="column-cell label-cell hcp-row" id="hcp-column-1">Handicap</div>

            <!------   player name inputs     ---------->
            <div class="column-cell label-cell player1-row  player-name-input-cell"
                 id="player1-input-cell">
                <input type="text" class="player-name-input" placeholder="player1 name">
            </div>

            <div class="column-cell label-cell player2-row  player-name-input-cell"
                 id="player2-input-cell">
                <input type="text" class="player-name-input" placeholder="player2 name">
            </div>

            <div class="column-cell label-cell player3-row  player-name-input-cell"
                 id="player3-input-cell">
                <input type="text" class="player-name-input" placeholder="player3 name">
            </div>


            <div class="column-cell label-cell player4-row bottom-row  player-name-input-cell"
                 id="player4-input-cell">
                <input type="text" class="player-name-input" placeholder="player4 name">
            </div>

        </div>


        <div class="card-column" id="hole-1-column">
            <div class="column-cell hole-row" id="hole-cell-1">1</div>
            <div class="column-cell yards-row" id="yards-cell-1"></div>
            <div class="column-cell par-row" id="par-cell-1"></div>
            <div class="column-cell hcp-row" id="hcp-cell-1"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-1">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-1">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-1">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-1">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-2-column">
            <div class="column-cell hole-row" id="hole-cell-2">2</div>
            <div class="column-cell yards-row" id="yards-cell-2"></div>
            <div class="column-cell par-row" id="par-cell-2"></div>
            <div class="column-cell hcp-row" id="hcp-cell-2"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-2">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-2">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-2">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-2">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-3-column">
            <div class="column-cell hole-row" id="hole-cell-3">3</div>
            <div class="column-cell yards-row" id="yards-cell-3"></div>
            <div class="column-cell par-row" id="par-cell-3"></div>
            <div class="column-cell hcp-row" id="hcp-cell-3"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-3">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-3">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-3">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-3">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-4-column">
            <div class="column-cell hole-row" id="hole-cell-4">4</div>
            <div class="column-cell yards-row" id="yards-cell-4"></div>
            <div class="column-cell par-row" id="par-cell-4"></div>
            <div class="column-cell hcp-row" id="hcp-cell-4"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-4">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-4">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-4">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-4">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-5-column">
            <div class="column-cell hole-row" id="hole-cell-5">5</div>
            <div class="column-cell yards-row" id="yards-cell-5"></div>
            <div class="column-cell par-row" id="par-cell-5"></div>
            <div class="column-cell hcp-row" id="hcp-cell-5"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-5">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-5">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-5">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-5">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-6-column">
            <div class="column-cell hole-row" id="hole-cell-6">6</div>
            <div class="column-cell yards-row" id="yards-cell-6"></div>
            <div class="column-cell par-row" id="par-cell-6"></div>
            <div class="column-cell hcp-row" id="hcp-cell-6"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-6">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-6">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-6">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-6">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-7-column">
            <div class="column-cell hole-row" id="hole-cell-7">7</div>
            <div class="column-cell yards-row" id="yards-cell-7"></div>
            <div class="column-cell  par-row" id="par-cell-7"></div>
            <div class="column-cell hcp-row" id="hcp-cell-7"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-7">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-7">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-7">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-7">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-8-column">
            <div class="column-cell hole-row" id="hole-cell-8">8</div>
            <div class="column-cell yards-row" id="yards-cell-8"></div>
            <div class="column-cell par-row" id="par-cell-8"></div>
            <div class="column-cell hcp-row" id="hcp-cell-8"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-8">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-8">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-8">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-8">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-9-column">
            <div class="column-cell hole-row" id="hole-cell-9">9</div>
            <div class="column-cell yards-row" id="yards-cell-9"></div>
            <div class="column-cell par-row" id="par-cell-9"></div>
            <div class="column-cell hcp-row" id="hcp-cell-9"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-9">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-9">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-9">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-9">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column total-column" id="out-column">
            <div class="column-cell total-cell hole-row" id="hole-cell-out">Out</div>
            <div class="column-cell total-cell yards-row" id="yards-cell-out"></div>
            <div class="column-cell total-cell par-row" id="par-cell-out"></div>
            <div class="column-cell total-cell hcp-row" id="hcp-cell-out"></div>
            <div class="column-cell total-cell player1-row" id="player1-cell-out"></div>
            <div class="column-cell total-cell player2-row" id="player2-cell-out"></div>
            <div class="column-cell total-cell player3-row" id="player3-cell-out"></div>
            <div class="column-cell total-cell player4-row bottom-row" id="player4-cell-out"></div>
        </div>


        <div class="card-column" id="hole-10-column">
            <div class="column-cell hole-row" id="hole-cell-10">10</div>
            <div class="column-cell yards-row" id="yards-cell-10"></div>
            <div class="column-cell par-row" id="par-cell-10"></div>
            <div class="column-cell hcp-row" id="hcp-cell-10"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-10">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-10">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-10">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-10">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-11-column">
            <div class="column-cell hole-row" id="hole-cell-11">11</div>
            <div class="column-cell yards-row" id="yards-cell-11"></div>
            <div class="column-cell par-row" id="par-cell-11"></div>
            <div class="column-cell hcp-row" id="hcp-cell-11"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-11">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-11">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-11">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-11">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-12-column">
            <div class="column-cell hole-row" id="hole-cell-12">12</div>
            <div class="column-cell yards-row" id="yards-cell-12"></div>
            <div class="column-cell par-row" id="par-cell-12"></div>
            <div class="column-cell hcp-row" id="hcp-cell-12"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-12">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-12">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-12">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-12">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-13-column">
            <div class="column-cell hole-row" id="hole-cell-13">13</div>
            <div class="column-cell yards-row" id="yards-cell-13"></div>
            <div class="column-cell par-row" id="par-cell-13"></div>
            <div class="column-cell hcp-row" id="hcp-cell-13"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-13">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-13">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-13">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-13">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-14-column">
            <div class="column-cell hole-row" id="hole-cell-14">14</div>
            <div class="column-cell yards-row" id="yards-cell-14"></div>
            <div class="column-cell par-row" id="par-cell-14"></div>
            <div class="column-cell hcp-row" id="hcp-cell-14"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-14">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-14">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-14">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-14">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-15-column">
            <div class="column-cell hole-row" id="hole-cell-15">15</div>
            <div class="column-cell yards-row" id="yards-cell-15"></div>
            <div class="column-cell par-row" id="par-cell-15"></div>
            <div class="column-cell hcp-row" id="hcp-cell-15"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-15">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-15">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-15">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-15">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-16-column">
            <div class="column-cell hole-row" id="hole-cell-16">16</div>
            <div class="column-cell yards-row" id="yards-cell-16"></div>
            <div class="column-cell par-row" id="par-cell-16"></div>
            <div class="column-cell hcp-row" id="hcp-cell-16"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-16">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-16">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-16">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-16">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-17-column">
            <div class="column-cell hole-row" id="hole-cell-17">17</div>
            <div class="column-cell yards-row" id="yards-cell-17"></div>
            <div class="column-cell par-row" id="par-cell-17"></div>
            <div class="column-cell hcp-row" id="hcp-cell-17"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-17">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-17">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-17">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-17">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column" id="hole-18-column">
            <div class="column-cell hole-row" id="hole-cell-18">18</div>
            <div class="column-cell yards-row" id="yards-cell-18"></div>
            <div class="column-cell par-row" id="par-cell-18"></div>
            <div class="column-cell hcp-row" id="hcp-cell-18"></div>
            <div class="column-cell player1-row  strokes-input-cell" id="player1-strokes-18">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player2-row  strokes-input-cell" id="player2-strokes-18">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player3-row  strokes-input-cell" id="player3-strokes-18">
                <input type="text" class="strokes-input">
            </div>
            <div class="column-cell  player4-row bottom-row strokes-input-cell" id="player4-strokes-18">
                <input type="text" class="strokes-input">
            </div>
        </div>

        <div class="card-column total-column" id="in-column">
            <div class="column-cell total-cell hole-row" id="hole-cell-in">In</div>
            <div class="column-cell total-cell yards-row" id="yards-cell-in"></div>
            <div class="column-cell total-cell par-row" id="par-cell-in"></div>
            <div class="column-cell total-cell hcp-row" id="hcp-cell-in"></div>
            <div class="column-cell total-cell player1-row" id="player1-cell-in"></div>
            <div class="column-cell total-cell player2-row" id="player2-cell-in"></div>
            <div class="column-cell total-cell player3-row" id="player3-cell-in"></div>
            <div class="column-cell total-cell player4-row bottom-row" id="player4-cell-in"></div>
        </div>

        <div class="card-column total-column" id="total-column">
            <div class="column-cell total-cell  hole-row" id="hole-cell-total">Total</div>
            <div class="column-cell total-cell yards-row" id="yards-cell-total"></div>
            <div class="column-cell total-cell par-row" id="par-cell-total"></div>
            <div class="column-cell total-cell hcp-row" id="hcp-cell-total"></div>
            <div class="column-cell total-cell player1-row" id="player1-cell-total"></div>
            <div class="column-cell total-cell player2-row" id="player2-cell-total"></div>
            <div class="column-cell total-cell player3-row" id="player3-cell-total"></div>
            <div class="column-cell total-cell player4-row bottom-row" id="player4-cell-total"></div>
        </div>


        <!--------------- HCP Column, probably don't need.
			<div class="card-column total-column last-column" id="hcp-column">
				<div class="column-cell total-cell hole-row" id="hole-cell-hcp">HCP</div>
				<div class="column-cell total-cell yards-row" id="yards-cell-hcp"></div>
				<div class="column-cell total-cell par-row" id="par-cell-hcp"></div>
				<div class="column-cell total-cell hcp-row" id="hcp-cell-hcp"></div>
				<div class="column-cell total-cell player1-row" id="player1-cell-hcp"></div>
				<div class="column-cell total-cell player2-row" id="player2-cell-hcp"></div>
				<div class="column-cell total-cell player3-row" id="player3-cell-hcp"></div>
				<div class="column-cell total-cell player4-row bottom-row" id="player4-cell-hcp"></div>
			</div>
			------------------>

    </div>


    <div id="images-container">

        <img src="../assets/images/bill-murray.jpg">
        <img src="../assets/images/tenor.gif">

    </div>


</div>

