<!------   player name inputs     ---------->
<div class="column-cell label-cell player1-row  player-name-input-cell"
     id="player1-input-cell">
    <input type="text" class="player-name-input" placeholder="player1 name">
</div>

<div class="column-cell label-cell player2-row  player-name-input-cell"
     id="player2-input-cell">
    <input type="text" class="player-name-input" placeholder="player2 name">
</div>

<div class="column-cell label-cell player3-row  player-name-input-cell"
     id="player3-input-cell">
    <input type="text" class="player-name-input" placeholder="player3 name">
</div>


<div class="column-cell label-cell player4-row bottom-row  player-name-input-cell"
     id="player4-input-cell">
    <input type="text" class="player-name-input" placeholder="player4 name">
</div>
