<div *ngFor="let label of labels"
     [class]="'cell label-cell ' + (label + '-row')"
     [id]="label + '-column-1'">

    {{course.tee.metadataLabelsForDisplay[label]}}


    <select *ngIf="label === 'yards'" id="tee-name-options"
            [(ngModel)]="course.tee.selectedName"
            (change)="course.tee.set_metadata_and_totals()"
            name="select-tee">
        <option *ngFor="let teeName of course.tee.names"
                [value]="teeName" name="tee-option">
            {{teeName}}
        </option>
    </select>


</div>

