<div class="form-container">
    <form id="choose-course-and-suspend-game">
        <div>
            <label>Choose a course</label>
            <select  id="course-name-options" name="course-name"
                    [(ngModel)]="courseService.selectedCourseName"
                    (change)="courseService.setSelectedCourse()">
                <option  *ngFor="let courseName of courseService.courseNames"
                         [value]="courseName" name="course-option">
                    {{courseName}}
                </option>
            </select>
        </div>
        <div>
            <button (click)="suspendGame()"  [routerLink]="['/welcome']">
                Suspend Game
            </button>
        </div>
    </form>
</div>
