<div class="form-container">
    <form id="choose-course-and-suspend-game">
        <div>
            <label>Choose a course</label>
            <select id="course-name-options" name="course-name"
                    ([ngModel])="selectedCourse"
                    (change)="updateTeesAndCells()">
                <option  *ngFor="let courseName of courseNames" [value]="course">
                    {{courseName}}
                </option>
            </select>
        </div>
        <div>
            <button (click)="suspendGame()">Suspend Game</button>
        </div>
    </form>
</div>
