@import 'bootstrap/css/bootstrap.css';


#top-container{
  width:100%;
  height:100%;
  min-width: 870px;
  min-height: 800px;
}


#card-container{
  border:1px solid #d3d3d3;
  width:870px;
  height:100%;
  min-height:240px;
  padding:15px 10px;
  margin:auto;
  position:relative;

}

.card-column{
  float:left;
  width:30px;
  margin:0;
  border-left:1px solid #d3d3d3;
  position:relative;
}

.column-cell{
  width:100%;
  height:25px;
  text-align: center;
  padding: 3px 0px;
  border-bottom:1px solid #d3d3d3;
}

.center-block, .welcome-page{text-align: center; width:65%;}

.center-block {margin-top: 20px;}

#app-title{font-weight: bold;  font-size:30px;  text-align: center; margin-bottom: 30px; }


#tee-name-options-label{margin-right:5px;}

#tee-name-options{width:90px;}

#tee-name-options-label, #tee-name-options{position:relative; top:0px;}

.form-control{border:none;}

.welcome-page-input{border: 1px solid lightblue; margin-bottom: 10px;
    width:65%;}



.scorecard-input{
  width:100%;
  font-weight: normal;
  text-align: center;
  padding-top:0; padding-bottom:0;
  border:none;
}

.player-name-input{
  position: relative; top:3px;right:2px;
}


.player-name-input-cell{width:120px;padding-top:0; padding-bottom:0;
  border-bottom:1px solid #d3d3d3;
}

.collapsed{display:none;}

.total-column{width:43px;}

.first-column{border-left:none;}

.yards-row{padding-top:5px; padding-bottom:5px; height:30px;}

.bottom-row{border-bottom: none;}

.welcome-page-button{
    margin-bottom: 20px;  width:100px;}


#label-column{ padding-right:0;}

#label-column{ width:128px; font-weight: bold;}

#label-column div{width:100%;}

#images-container{width:870px; margin:auto; margin-top:15px; padding:auto;}

#images-container img {display: inline; width:48%; margin:auto; margin-left: 10px;}

#begin-button{font-weight: bold;}

#choose-course-and-suspend-game div{
    display: inline; border:none; margin-right: 20px;
}
